<!-- footer -->
<div class="footer wrapper" style="background-color: #081726;">
    <div class="row">
        <div class="col">
            <a href=""><i class="fa-solid fa-square-rss" style="color: #ff7300;"></i></a>&nbsp;<b><a href=""
                    style="color: white;">Feeds</a></b>
            <hr>
            <ul>
                <li style="color: #081726;"><a href="" style="color: white;">Student Loan Breach Exposes 2.5M<br>
                        Records</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Watering Hole Attacks Push ScanBox
                        <br>Keylogger</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Tentacles of `0ktapus' Threat Group<br>
                        Victimize 130 Firms</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Ransomware Attacks are on the Rise</a></li>
                <hr>
            </ul>
        </div>
        <div class="col">
            <b style="color: #097051;">Useful Pages</b>
            <hr>
            <ul>
                <li style="color: #081726;"><a href="" style="color: white;">Home</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">About</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Membership</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Events</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Blog</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Contact</a></li>
                <hr>
            </ul>
        </div>
        <div class="col">
            <b style="color: #097051;">Contact Information</b><br>
            <hr>
            <a href="" style="color: white;">www.isc2chapter-liny.org</a>
        </div>
        <div class="col">
            <b style="color: #097051;">Recent Posts</b>
            <hr>
            <ul>
                <li style="color: #081726;"><a href="" style="color: white;">(ISC)2 Long Island NY Holds 3rd Annual<br>
                        CTF Event!</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Let's Capture The Flag!</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Security Awareness - Creative<br>
                        Techniques and Tools</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Security Operations Briefing and Panel<br>
                        Discussion: Current Realities and The<br> Strategic Landscape</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Meeting - Proactive Defense in Lieu of<br>
                        Panicked Response</a></li>
                <hr>

            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
</body>

</html>