<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <!-- BootStrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <!-- FONTAWESOME CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navi">
      <a class="navbar-brand" href="//">
        <img src="/logo.png" alt="" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="membership.html"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Membership
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="student_members.html"
                >Student Members</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Events
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Events Pictures and Notes</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Committees
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/education-committee.html"
                >Education</a
              >
              <a class="dropdown-item" href="/scholarship_winners.html">
                Scholarship Winners</a
              >
              <a
                class="dropdown-item"
                href="/hack_a_thon_capture_the_flag.html"
                >Hack-A-Thon / Catch The Flag</a
              >
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sponsership.html">Sponsorship</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="about_header" class="wrapper text-center header">
      <h1>About</h1>
    </div>
    <div id="mission" class="wrapper">
      <h2>Our Mission</h2>
      <p>
        To initiate and develop a vibrant chapter of Information Security and
        Technology professionals, affording our members the opportunity to
        network and educate themselves while enriching the surrounding
        communities.
      </p>
    </div>
    <div
      style="background-color: #c3e5f4"
      id="board_members"
      class="wrapper text-center"
    >
      <b>
        <h1>Meet our board members</h1>
      </b>
      <div class="member-row row">
        <div class="col">
          <div class="card common">
            <img
              src="/P1070850-e1566858699775.jpg"
              class="card-img-top"
              alt="Bill London"
            />

            <div class="card-body">
              <h5 style="color: #5ead55">PRESIDENT EMERITUS</h5>
              <h3>Bill London</h3>
              <h6>CISSP</h6>
              <div class="row mt-2 social_icons">
                <div class="col">
                  <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                </div>
                <div class="col">
                  <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                </div>
                <div class="col">
                  <a href=""><i class="fa-brands fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card common">
            <img
              src="/headshot-scaled.jpg"
              class="card-img-top"
              alt="Isaac Salles"
            />

            <div class="card-body">
              <h5 style="color: #5ead55">MEMBERSHIP</h5>
              <h3>Isaac Salles</h3>
              <h6>CISSP, CCSP</h6>
              <div class="row social_icons">
                <div class="col">
                  <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                </div>
                <div class="col">
                  <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                </div>
                <div class="col">
                  <a href=""><i class="fa-brands fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card common">
            <img
              src="/Headshot-1-e1566858326389.jpg"
              class="card-img-top"
              alt="Mike Gluckman"
            />

            <div class="card-body">
              <h5 style="color: #5ead55">PRESIDENT</h5>
              <h3>Mike Gluckman</h3>
              <h6>CISSP</h6>
              <div class="row social_icons">
                <div class="col">
                  <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                </div>
                <div class="col">
                  <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                </div>
                <div class="col">
                  <a href=""><i class="fa-brands fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card common">
            <img
              class="card-img-top"
              src="/Schaefer_Dennis-e1566870946628.jpg"
              alt="Schaefer_Dennis-e1566870946628"
            />

            <div class="card-body">
              <h5 style="color: #5ead55">TREASURER</h5>
              <h3>Schaefer Dennis</h3>
              <h6>CISSP, CISA</h6>
              <div class="row social_icons">
                <div class="col">
                  <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                </div>
                <div class="col">
                  <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                </div>
                <div class="col">
                  <a href=""><i class="fa-brands fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="member-row row">
        <div class="col">
          <div class="card common">
            <img
              class="card-img-top"
              src="/mikefarinaccio2.png"
              alt="Michael Farinaccio"
            />

            <div class="card-body">
              <h5 style="color: #5ead55">SECRETARY</h5>
              <h3>Michael Farinaccio</h3>
              <h6>CISSP</h6>
              <div class="row social_icons">
                <div class="col">
                  <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                </div>
                <div class="col">
                  <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                </div>
                <div class="col">
                  <a href=""><i class="fa-brands fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card common">
            <img
              class="card-img-top"
              src="/marvstein.jpg"
              alt="Marv Stein"
            />
            <div class="card-body">
              <h5 style="color: #5ead55">VICE PRESIDENT</h5>
              <h3>Marv Stein</h3>
              <h6>CISSP</h6>
              <div class="row social_icons">
                <div class="col">
                  <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                </div>
                <div class="col">
                  <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                </div>
                <div class="col">
                  <a href=""><i class="fa-brands fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card common">
            <img
              class="card-img-top"
              src="/IMG_6393.jpg"
              alt="Michael Nizich"
            />

            <div class="card-body">
              <h5 style="color: #5ead55">DIRECTOR</h5>
              <h3>Michael Nizich</h3>
              <h6>PhD, CISSP</h6>
              <div class="row social_icons">
                <div class="col">
                  <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                </div>
                <div class="col">
                  <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                </div>
                <div class="col">
                  <a href=""><i class="fa-brands fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card common">
            <img
              class="card-img-top"
              src="/Linked-In-Gray-Redone-2-e1638236711345.jpg"
              alt="Linked-In-Gray-Redone-2-e1638236711345"
            />

            <div class="card-body">
              <h5 style="color: #5ead55">DIRECTOR</h5>
              <h3>Amrik S Mikko</h3>
              <h6>MBA, PMP, CISSP</h6>
              <div class="row social_icons">
                <div class="col">
                  <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                </div>
                <div class="col">
                  <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                </div>
                <div class="col">
                  <a href=""><i class="fa-brands fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="Other_commities wrapper">
      <div id="heading"><h2 class="level-2">Other Committees</h2></div>
      <div class="row">
        <div class="col subject">
          <h3>Education</h3>
          <ul>
            <li>Susan Frank</li>
            <li>Anne Kimmins</li>
            <li>Amrik Mikko</li>
            <li>Anand Mohabir</li>
            <li>Michael Nizich</li>
          </ul>
        </div>
        <div class="col subject">
          <h3>Events</h3>
          <ul>
            <li>Don Becker</li>
            <li>Michael Gluckman</li>
            <li>Vito Sparacio</li>
            <li>Rob Rothstein</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer wrapper" style="background-color: #081726;">
      <div class="row">
        <div class="col">
            <a href=""><i class="fa-solid fa-square-rss" style="color: #ff7300;"></i></a>&nbsp;<b><a href="" style="color: white;">Feeds</a></b><hr>
            <ul>
              <li style="color: #081726;"><a href="" style="color: white;">Student Loan Breach Exposes 2.5M<br> Records</a></li>
              <hr>
              <li style="color: #081726;"><a href="" style="color: white;">Watering Hole Attacks Push ScanBox <br>Keylogger</a></li>
              <hr>
              <li style="color: #081726;"><a href="" style="color: white;">Tentacles of `0ktapus' Threat Group<br> Victimize 130 Firms</a></li>
              <hr>
              <li style="color: #081726;"><a href="" style="color: white;">Ransomware Attacks are on the Rise</a></li>
              <hr>
            </ul>
        </div>
        <div class="col">
            <b style="color: #097051;">Useful Pages</b>
            <hr>
            <ul>
              <li style="color: #081726;"><a href="" style="color: white;">Home</a></li>
              <hr>
              <li style="color: #081726;"><a href="" style="color: white;">About</a></li>
              <hr>
              <li style="color: #081726;"><a href="" style="color: white;">Membership</a></li>
              <hr>
              <li style="color: #081726;"><a href="" style="color: white;">Events</a></li>
              <hr >
              <li style="color: #081726;"><a href="" style="color: white;">Blog</a></li>
              <hr>
              <li style="color: #081726;"><a href="" style="color: white;">Contact</a></li>
              <hr>
            </ul>
        </div>
        <div class="col">
            <b style="color: #097051;">Contact Information</b><br>
            <hr>
            <a href="" style="color: white;">www.isc2chapter-liny.org</a>
        </div>
        <div class="col">
            <b style="color: #097051;">Recent Posts</b>
            <hr>
            <ul>
              <li style="color: #081726;"><a href="" style="color: white;">(ISC)2 Long Island NY Holds 3rd Annual<br> CTF Event!</a></li>
              <hr>
              <li style="color: #081726;"><a href="" style="color: white;">Let's Capture The Flag!</a></li>
              <hr>
              <li style="color: #081726;"><a href="" style="color: white;">Security Awareness - Creative<br> Techniques and Tools</a></li>
              <hr>
              <li style="color: #081726;"><a href="" style="color: white;">Security Operations Briefing and Panel<br> Discussion: Current Realities and The<br> Strategic Landscape</a></li>
              <hr>
              <li style="color: #081726;"><a href="" style="color: white;">Meeting - Proactive Defense in Lieu of<br> Panicked Response</a></li>
              <hr>
              
            </ul>
        </div>
      </div>
     </div>
  </body>
</html>
