<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sponsorship</title>
  <!-- BootStrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
  <!-- FONTAWESOME CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
  <!-- Custom CSS -->
  <link rel="stylesheet" href="style.css" />
  <style>
    .owl-carousel .item {
      padding: 4rem;
      margin: 10px;
      color: #fff;
      border-radius: 3px;
      text-align: center;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navi">
    <a class="navbar-brand" href="//">
      <img src="/logo.png" class="logo-image" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="membership.html" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Membership
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="student_members.html">Student Members</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Events
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Events Pictures and Notes</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Committees
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/education-committee.html">Education</a>
            <a class="dropdown-item" href="/scholarship_winners.html">
              Scholarship Winners</a>
            <a class="dropdown-item" href="/hack_a_thon_capture_the_flag.html">Hack-A-Thon / Catch The Flag</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sponsership.html">Sponsorship</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="sponsership_header" class="wrapper text-center header">
    <h1>SPONSORSHIP</h1>
  </div>

  <div class="info wrapper">
    <div class="row">
      <div class="col txt_bx">
        <p>
          The (ISC)² Long Island , New York Chapter is dedicated to the
          advancement of the information security profession, affording our
          members the opportunity to network and educate themselves while
          enriching the surrounding communities.
          <br />
          <br />
          Becoming a sponsor of the (ISC)² Long Island, New York Chapter shows
          that your organization supports the advancement of the information
          security profession. Becoming a sponsor will also create brand
          recognition with our professional members and provide another avenue
          for recruitment of skilled candidates.
          <br />
          <br />
          Sponsorship of the (ISC)² Long Island, New York Chapter entitles
          your organization to the benefits outlined here unless other
          agreements have been made. The sponsorship period runs for one year
          from the time of sign-up. This Sponsorship Plan is referred to in
          the
          <b><a href="" class="text-danger">(ISC)2 Long Island Chapter Sponsorship Agreement.</a></b>
          <br />
          <br />
          If you are interested in becoming a sponsor, please use the form
          below or contact us here.
        </p>
      </div>
      <div class="col pic">
        <h5 class="heading-5">Prospectus</h5>
        <a href=""><img src="/ISC2-LINY-PROSPECTUS.png" alt="" /></a>
      </div>
    </div>
  </div>
  <div class="requirment wrapper">
    <h4 class="heading-4">Requirements</h4>
    <br />
    <p class="para">
      Sponsors of (ISC)² Long Island, New York Chapter must agree to and
      comply with the following conditions. All sponsorships are subject to
      the (ISC)2 Long Island, New York Chapter Board of Directors (BOD)
      approval. This program only applies to the (ISC)² Long Island, New York
      Chapter, and provides no benefits at (ISC)2 or to direct benefits at
      other (ISC)² regional chapters.
    </p>
    <ul class="all">
      <li>
        All sponsorships must comply with the (ISC)2 Long Island, New York
        Chapter mission and should focus on improving the professional
        knowledge of information security practitioners.
      </li>
      <br />
      <li>
        (ISC)2 Long Island, New York Chapter actively enforces a
        non-aggressive marketing policy. (ISC)2 Long Island, New York Chapter
        membership attends (ISC)2 Long Island Chapter, New York events
        regularly for education, information, and professional networking, not
        to be subjected to aggressive marketing tactics.
      </li>
      <br />
      <li>
        “Negative campaigning” against competitors is not permitted. We aim to
        foster a professional atmosphere among members and interested parties
        with the intention of enhancing member recruitment and retention.
      </li>
    </ul>
  </div>

  <!-- <div class="benefits_summary wrapper">
      <table class="table-container">
        <tr>
          <th>Benefit</th>
          <th>Bronze</th>
          <th>Silver</th>
          <th>Gold</th>
          <th>Platinum</th>
        </tr>
        <tr>
          <td class="benefit">
            Sponsor will be listed on the (ISC)² Long Island Chapter website for
            one year (listing priority based on sponsorship level).
          </td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td class="benefit">
            Sponsor will be recognized at monthly membership meetings via a
            continuous loop introduction slide show (listing is priority based
            on sponsorship level).
          </td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr class="highlight">
          <td class="benefit">
            Sponsor will have (ISC)² Long Island Chapter membership status.
            Membership status is not to be shared or changed during the
            sponsorship period except due to hardship and is subject to
            approval.
          </td>
          <td>1 Member</td>
          <td><span>2 Members</span></td>
          <td>3 Members</td>
          <td><span>4 Members</span></td>
        </tr>
        <tr>
          <td class="benefit">
            Sponsor will have the opportunity to present their company at one
            (ISC)² Long Island Chapter meeting.
          </td>
          <td>No</td>
          <td><span>1 Minute</span></td>
          <td>2 Minutes</td>
          <td><span>4 Minutes</span></td>
        </tr>
        <tr class="highlight">
          <td class="benefit">
            Sponsor will have the opportunity to man a table, solicit attendee
            contacts, distribute marketing materials, conduct raffles, etc.
          </td>
          <td>Once per year</td>
          <td><span>Twice per year</span></td>
          <td>Three times per year</td>
          <td><span>Four times per year</span></td>
        </tr>
        <tr>
          <td class="benefit">
            Sponsor will have the opportunity to host/co-host an event by
            providing a speaker on a relevant industry topic (subject to
            approval).
          </td>
          <td>No</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr class="highlight">
          <td class="benefit">
            New sponsorship announcements will be mentioned on (ISC)² Long
            Island Chapter member emails.
          </td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td class="benefit">
            Sponsor may invite guests (clients, Sponsor personnel, or others) to
            (ISC)² Long Island Chapter monthly membership meeting.
          </td>
          <td>No</td>
          <td><span>One (1) Per Meeting</span></td>
          <td>Two (2) Per Meeting</td>
          <td><span>Three (3) Per Meeting</span></td>
        </tr>
        <tr class="highlight">
          <td class="benefit">
            Sponsor will have a link to their jobs/career section on the (ISC)²
            Long Island Chapter website.
          </td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td class="benefit">
            Sponsor will have the opportunity to have one (1)
            offer/promotion/co-hosting event notification sent on their behalf
            to the (ISC)² Long Island Chapter membership list, by the (ISC)²
            Long Island Chapter BOD.
          </td>
          <td>No</td>
          <td>No</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr class="highlight">
          <td class="benefit">
            Sponsor will receive a plaque from (ISC)² Long Island Chapter
            indicating the greatly appreciated support of (ISC)² Long Island
            Chapter and the Information Security community at large presented at
            a meeting.
          </td>
          <td>No</td>
          <td>No</td>
          <td>No</td>
          <td><span>Yes</span></td>
        </tr>
        <tr>
          <th>Annual Sponsorship Cost</th>
          <td>$500</td>
          <td>$750</td>
          <td>$1,250</td>
          <td>$2,000</td>
        </tr>
      </table>
    </div> -->
  <div class="sponsorship-level wrapper">
    <h4 class="mb-4" style="background-color: #61ce70">
      Please select a sponsorship level below.
    </h4>
    <div class="row sponsorship">
      <div class="col-lg-2 price pricing">
        <h4>Bronze</h4>
        <h4>$500</h4>
        <a href="" class="alert-success">
          <h6>Sponsor Us</h6>
        </a>
      </div>
      <div class="col-lg-2 price pricing">
        <h4>Silver</h4>
        <h4>$750</h4>
        <a href="" class="alert-success">
          <h6>Sponsor Us</h6>
        </a>
      </div>
      <div class="col-lg-3 price pricing-gold">
        <h4>Gold</h4>
        <h4>$1,250</h4>
        <a href="" class="alert-success">
          <h5>Sponsor Us</h5>
        </a>
      </div>
      <div class="col-lg-2 price pricing">
        <h4>Platinum</h4>
        <h4>$2,000</h4>
        <a href="" class="alert-success">
          <h6>Sponsor Us</h6>
        </a>
      </div>
    </div>
    <br /><br />
    <h4>Need More Information? Contact Us Now.</h4>
  </div>
  <div class="footer wrapper" style="background-color: #081726;">
    <div class="row">
      <div class="col">
        <a href=""><i class="fa-solid fa-square-rss" style="color: #ff7300;"></i></a>&nbsp;<b><a href=""
            style="color: white;">Feeds</a></b>
        <hr>
        <ul>
          <li style="color: #081726;"><a href="" style="color: white;">Student Loan Breach Exposes 2.5M<br> Records</a>
          </li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Watering Hole Attacks Push ScanBox
              <br>Keylogger</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Tentacles of `0ktapus' Threat Group<br> Victimize
              130 Firms</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Ransomware Attacks are on the Rise</a></li>
          <hr>
        </ul>
      </div>
      <div class="col">
        <b style="color: #097051;">Useful Pages</b>
        <hr>
        <ul>
          <li style="color: #081726;"><a href="" style="color: white;">Home</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">About</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Membership</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Events</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Blog</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Contact</a></li>
          <hr>
        </ul>
      </div>
      <div class="col">
        <b style="color: #097051;">Contact Information</b><br>
        <hr>
        <a href="" style="color: white;">www.isc2chapter-liny.org</a>
      </div>
      <div class="col">
        <b style="color: #097051;">Recent Posts</b>
        <hr>
        <ul>
          <li style="color: #081726;"><a href="" style="color: white;">(ISC)2 Long Island NY Holds 3rd Annual<br> CTF
              Event!</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Let's Capture The Flag!</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Security Awareness - Creative<br> Techniques and
              Tools</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Security Operations Briefing and Panel<br>
              Discussion: Current Realities and The<br> Strategic Landscape</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Meeting - Proactive Defense in Lieu of<br>
              Panicked Response</a></li>
          <hr>

        </ul>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
</body>

</html>