<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Membership</title>
    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- FONTAWESOME CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="membership_students" class="wrapper text-center header">
        <h1>MEMBERSHIP FOR STUDENTS</h1>
    </div>
    <div class="join">
        <h2>Why Join?</h2>
        <p>(ISC)² is an international, nonprofit membership association for security leaders like you. They're committed
            to helping members learn, grow and thrive. More than 140,000 certified members strong, they empower the
            professionals who touch every aspect of cyber, information, software, IT and infrastructure security.</p>
        <p>With (ISC)² certification, you join a globally recognized family of cyber and IT security professionals. By
            joining our chapter, you'll have access to various resources, educational tools and peer-to-peer networking
            opportunities, meetings, and much more to help you strengthen your career while helping us accomplish our
            mission. Even if you don't have a certification with (ISC)², provided you are a cybersecurity professional,
            or a student, our chapter invites all that want to be part of it to network and learn. Through it we hope
            you find the value in attaining an (ISC)² certification.</p>
    </div>

    <div class="guidelines" style="background-color: #DFF1F9;">
        <h2>Chapter Membership Guidelines</h2>
        <b>
            <p>This section outlines the rights and benefits of being a member of an (ISC)² Chapter as provided by
                (ISC)² Inc. Please review the following guidelines:</p>

        </b>
        <ul>
            <li>(ISC)2 Chapter membership consists of (ISC)² credential holders and non-(ISC)² credential holders.
                Members of (ISC)² (credential holder) are not automatically members of an (ISC)² Chapter. Chapter
                membership is completely voluntary and members may join more than one (ISC)2 chapter.</li>
            <li>Chapter membership dues are determined by the chapter and collected by the chapter. The Annual
                Maintenance Fees (AMFs) required to maintain an (ISC)² credential are separate from the chapter and are
                collected by (ISC)².</li>
            <li>(ISC)² Chapters are open to anyone except those who have been knowingly convicted of criminal activity
                or conduct that is considered contrary to community standards of justice, honesty or good morals.
                Individuals who have been convicted of any crime of violence, fraud, embezzlement, murder, rape or any
                form of computer crime are ineligible to join.</li>
            <li>An (ISC)² credential holder or other security professional who is employed by entities with a conflict,
                offer a service, or are commercially motivated to promote alternative certifications/training may become
                a member of an (ISC)² Chapter; but cannot serve as a chapter officer.</li>
            <li>A member from another security chapter organization may join as a member of an (ISC)2 Chapter; however,
                an officer from another chapter organization cannot concurrently serve as a Chapter Officer.</li>
            <li>Only (ISC)2 credentialed members in good standing may hold the required officer positions of President,
                Treasurer, Secretary and Membership Chair. Although the position of Vice President is not required, the
                individual holding this position must be an (ISC)² credential holder.</li>
            <li>Non-(ISC)2 credentialed chapter members may hold an elected chair/director positions after the chapter
                has been established and has received its charter.</li>
            <li>All (ISC)2 Chapter members are required to abide by the (ISC)² Code of Ethics. [For more information,
                visit isc2.org/ethics]</li>
            <li>(ISC)² Chapter members shall not promote or advance commercial and/or political agendas, including the
                promotion of any outside organization, to the chapter membership. Only organizations sponsoring chapter
                events and activities may be promoted during the sponsored event/activity and subject to guidelines as
                set by the Chapter.</li>
            <li>All (ISC)² Chapter members must abide by the (ISC)² Trademark Requirements and Branding Guidelines as
                outlined in the (ISC)² Official Chapter Handbook.</li>
        </ul>
    </div>
    <div class="row">
        <div class=" form col">
            <h2>Student Membership Application</h2>
            <p>Terms: $15 / Year</p>
            <div class="form-group">
                <label>First Name:*</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Last Name:*</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Address Line 1:*</label><br>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Address Line 2:*</label><br>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>City:*</label><br>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Country:*</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>-- Select Country --</option>
                    <option>Afghanistan</option>
                    <option>Albania</option>
                    <option>Algeria</option>
                    <option>Andorra</option>
                    <option>China</option>
                    <option>Dominican Republic</option>
                    <option>Greece</option>
                </select>
            </div>
            <div class="form-group">
                <label>State/Province:*</label><br>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Zip/Postal Code:*</label><br>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>School or University:*</label><br>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Major :*</label><br>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Primary Phone:*</label><br>
                <input type="number" class="form-control">
            </div>
            <div class="form-group">
                <label>Primary Email:*</label><br>
                <input type="email" class="form-control">
            </div>
            <label>List other professional associations in which you are a member: :</label>
            <div class="input-group">
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
            <label>List the professional certifications that you hold: :</label>
            <div class="input-group">
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
            <label>Provide your feedback on the opportunities you hope to gain by joining an Official (ISC)²
                Chapter::</label>
            <div class="input-group">
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>


            <div class="form-group">
                <label>Date:*:</label><br>
                <input type="date" class="form-control">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I agree to the rules and requirements as outlined in
                    the (ISC)² Chapter Member Guidelines.*</label>
            </div>
            <div class="form-group">
                <label>Email:*</label><br>
                <input type="email" class="form-control">
            </div>
            <div class="form-group">
                <label>Password:*</label><br>
                <input type="password" class="form-control">
            </div>
            <div class="form-group">
                <label>Password Confirmation:*</label><br>
                <input type="password" class="form-control">
            </div>
            <div class="form-group">
                <label>11 + 5 equals?*</label><br>
                <input type="number" class="form-control">
            </div>
            <a href="" class="text-dark">Have a coupon?</a>
            <br>
            <button class="button_sign btn">Sign Up</button>

        </div>
        <div class=" qa col">
            <h2>Additional Information</h2>
            <p>Membership dues are to be paid upon completing the membership application. You will be redirected to
                PayPal for payment processing.<b> For students the current membership fees are:</b></p>
            <b>
                <h2 style="background-color: #61CE70; color: white;" class="highlight">$15/yr</h2>
            </b>
        </div>
    </div>
    <div class="footer wrapper" style="background-color: #081726;">
        <div class="row">
          <div class="col">
              <a href=""><i class="fa-solid fa-square-rss" style="color: #ff7300;"></i></a>&nbsp;<b><a href="" style="color: white;">Feeds</a></b><hr>
              <ul>
                <li style="color: #081726;"><a href="" style="color: white;">Student Loan Breach Exposes 2.5M<br> Records</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Watering Hole Attacks Push ScanBox <br>Keylogger</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Tentacles of `0ktapus' Threat Group<br> Victimize 130 Firms</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Ransomware Attacks are on the Rise</a></li>
                <hr>
              </ul>
          </div>
          <div class="col">
              <b style="color: #097051;">Useful Pages</b>
              <hr>
              <ul>
                <li style="color: #081726;"><a href="" style="color: white;">Home</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">About</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Membership</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Events</a></li>
                <hr >
                <li style="color: #081726;"><a href="" style="color: white;">Blog</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Contact</a></li>
                <hr>
              </ul>
          </div>
          <div class="col">
              <b style="color: #097051;">Contact Information</b><br>
              <hr>
              <a href="" style="color: white;">www.isc2chapter-liny.org</a>
          </div>
          <div class="col">
              <b style="color: #097051;">Recent Posts</b>
              <hr>
              <ul>
                <li style="color: #081726;"><a href="" style="color: white;">(ISC)2 Long Island NY Holds 3rd Annual<br> CTF Event!</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Let's Capture The Flag!</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Security Awareness - Creative<br> Techniques and Tools</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Security Operations Briefing and Panel<br> Discussion: Current Realities and The<br> Strategic Landscape</a></li>
                <hr>
                <li style="color: #081726;"><a href="" style="color: white;">Meeting - Proactive Defense in Lieu of<br> Panicked Response</a></li>
                <hr>
                
              </ul>
          </div>
        </div>
       </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>

</html>